body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

#sobre p {
    text-align: justify;
}

.destaque {
    font-weight: bold;
}